body {
    background: linear-gradient(270deg, #cc55de, #f2ac15);
    background-size: 400% 400%;

    -webkit-animation: bg-animation 15s ease infinite;
    -moz-animation: bg-animation 15s ease infinite;
    animation: bg-animation 15s ease infinite;
}

.main-container {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 8px;
    width: 75%;
    padding: 30px;
}

.man-scan {
    max-height: 350px;
}

@media screen and (max-width: 991px) {
    .main-container {
        width: 95%;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 15px;
    }
  }

.baslik {
    font-family: fantasy;
}

@-webkit-keyframes bg-animation {
    0% {
        background-position: 0% 63%
    }

    50% {
        background-position: 100% 38%
    }

    100% {
        background-position: 0% 63%
    }
}

@-moz-keyframes bg-animation {
    0% {
        background-position: 0% 63%
    }

    50% {
        background-position: 100% 38%
    }

    100% {
        background-position: 0% 63%
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0% 63%
    }

    50% {
        background-position: 100% 38%
    }

    100% {
        background-position: 0% 63%
    }
}